<%= render "layouts/menu" %>

<section class="page-section" id="services">
  <div class="container">
    <h1 class="text-center mt-0 font-weight-bold">UPDATE <%= @gnome.name %></h1>
    <hr class="divider my-4">
    <div class="row">
      <div class=" col-md-12 ">
        <div class="mt-5">
          <p class="text-muted mb-0"></p>
          <%= render "form" %>
        </div>
      </div>
    </div>
  </div>
</section>
