<%= render "layouts/menu" %>

<section class="page-section" id="services">
  <div class="container">
    <h1 class="text-center mt-0 font-weight-bold">GNOMES</h1>
    <hr class="divider my-4">
    <div class=" col-md-12 text-center">
      <div class="mt-5">
        <p class="text-muted mb-0"></p>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col"></th>
              <th scope="col">Country</th>
              <th scope="col">PV</th>
              <th scope="col">PA</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <%= render @gnomes %>
          </tbody>
        </table>
      </div>
    </div>
    <div class=" text-center">
      <%= link_to "Add gnome", new_gnome_path, class: "btn btn-primary mt-5 text-uppercase" %>
    </div>
  </div>
</section>
